{% extends 'fullpage.html.twig' %}

{% block title %}TicTacToe{% endblock %}

{% block body %}
    <section>
        <article>
            <h2>Spielfeld</h2>
        </article>
    </section>
{% endblock %}