{% extends 'base.html.twig' %}

{% block header %}
<hgroup>
    <h1>TicTacToe</h1>
    <p>Ein kleines PHP-Übungsspiel</p>
</hgroup>
<nav>
    <ul>
      <li><a href="{{ route('DefaultController','index') }}">Musterbeispiel</a></li>
      <li><a href="{{ route('GameController','index') }}">Übung</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
<small>
    <a href="https://it.treptowkolleg.de" target="_blank">AG Informatik</a> am Treptow-Kolleg Berlin
</small>
{% endblock %}