{% extends 'base.html.twig' %}

{% block header %}
<hgroup>
    <h1>TicTacToe</h1>
    <p>Ein kleines PHP-Übungsspiel</p>
</hgroup>
<nav>
    <ul>
      <li><a href="{{ root }}">Spiel ohne Klassen</a></li>
      <li><a href="{{ game }}">Spiel mit Klassen</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
<small>
    Built with <a href="https://picocss.com">Pico</a> •
    <a href="https://github.com/picocss/examples/blob/master/v2-html-classless/index.html">Source code</a>
</small>
{% endblock %}